# Build results
[Dd]ebug/
[Rr]elease/
[xX]64/
[xX]86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
[Bb]in/
[Oo]bj/

# Visual Studio temporary files
.vscode/
.vs/
*.suo
*.user
*.userosscache
*.sln.ide
*.csproj.user
*.dbmdl
*.dbproj.user
*.jfm

# Rider files
.idea/

# DotNet
*.db

# Docker files
*.log
docker-compose.override.yml

# Local development environment files
appsettings.Development.json
appsettings.Staging.json
appsettings.Production.json